
# Exclude everything by default.
*

# But do not exclude...
!.gitignore
!FormBuilderApps.sln
!README.md
!Doxyfile
!wxSetup/
!wxSetup/**
!wxWidgetsApp/
!wxWidgetsApp/**

# But seriously, do ignore...
wxWidgetsApp/wxWidgetsApp.vcxproj.user
wxWidgetsApp/Debug/

# These are temporary ignores.
# These files were removed from the project and shouldn't be re-added.
*.xpm
resources.rc
KLS_Logic.txt