
# Exclude everything by default.
*

# But do not exclude these files...
!.gitignore
!CedarLogic.sln
!CedarLogic.vcxproj
!README.md
!LICENSE.txt
!HISTORY.txt
!Doxyfile
!Makefile
!.makefile

!installer/
!installer/installer.wixproj
!installer/Product.wxs

# But do not exclude these directories...
!src/
!src/**
!res/
!res/**

# Okay, but really do exclude these files...
res/settings.ini
res/KLS_Logic.chw
