
# Exclude everything by default.
*

# But do not exclude...
!.gitignore
!FormBuilderApps.sln
!README.md
!wxSetup/
!wxSetup/**
!wxWidgetsApp/
!wxWidgetsApp/**

# But seriously, do ignore...
wxWidgetsApp/Debug/
