IDI_ICON1 ICON "res/icon.ico"

ARIAL.GLF BIN "res/arial.glf"
CL_GATEDEFS.XML BIN "res/cl_gatedefs.xml"
NEW.BMP BITMAP "res/bitmaps/new.bmp"
OPEN.BMP BITMAP "res/bitmaps/open.bmp"
SAVE.BMP BITMAP "res/bitmaps/save.bmp"
UNDO.BMP BITMAP "res/bitmaps/undo.bmp"
REDO.BMP BITMAP "res/bitmaps/redo.bmp"
COPY.BMP BITMAP "res/bitmaps/copy.bmp"
PASTE.BMP BITMAP "res/bitmaps/paste.bmp"
PRINT.BMP BITMAP "res/bitmaps/print.bmp"
HELP.BMP BITMAP "res/bitmaps/help.bmp"
PAUSE.BMP BITMAP "res/bitmaps/pause.bmp"
STEP.BMP BITMAP "res/bitmaps/step.bmp"
ZOOMIN.BMP BITMAP "res/bitmaps/zoomin.bmp"
ZOOMOUT.BMP BITMAP "res/bitmaps/zoomout.bmp"
LOCKED.BMP BITMAP "res/bitmaps/locked.bmp"
NEWTAB.BMP BITMAP "res/bitmaps/newtab.bmp"
GRID.BMP BITMAP "res/bitmaps/grid.bmp"
JUNCTION.BMP BITMAP "res/bitmaps/junction.bmp"

