<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <Product Name="CedarLogic"
           Manufacturer="CedarLogic Team"
           Version="2.0.0.0"
           Id="76aef29b-05bb-474b-8ed4-cdc27f7798d8"
           UpgradeCode="35f714db-fbc3-4a5b-b447-9dadd5723c47"
           Language="1033"
           Codepage="1252">
    
    <!--Still not sure what a package is, but here its description-->
    <Package Manufacturer="CedarLogic Team"
             InstallerVersion="200"
             Languages="1033"
             SummaryCodepage="1252"
             Compressed="yes"/>

    <!--Embed compressed installer files into the *.msi-->
    <Media Id="1"
           Cabinet="files.cab"
           EmbedCab="yes" />
    
    
    
    <!--Directory Structure-->
    <Directory Id="TARGETDIR" Name="SourceDir">
      
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="CedarLogic">
          <Directory Id="ResourceFolder" Name="res">
            <Directory Id="BitmapsFolder" Name="bitmaps" />
          </Directory>
        </Directory>
      </Directory>
      
      <Directory Id="ProgramMenuFolder">
        <!-- <Directory Id="MENUDIR" Name="CedarLogic" /> -->
      </Directory>
      
      <Directory Id="DesktopFolder" />
      
    </Directory>
    
    
    
    <!--List components-->
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="Executable" Guid="c231dd24-bbbd-4ea4-bcc6-204cdc02d744">
        <File Name="CedarLogic.exe" Source="../Release/CedarLogic.exe" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ResourceFolder">
      <Component Id="Resources" Guid="532fc841-bb67-453b-b60c-99f59b4fc9c7">
        <File Name="arial.glf" Source="../Release/res/arial.glf" />
        <File Name="cl_gatedefs.xml" Source="../Release/res/cl_gatedefs.xml" />
        <File Name="KLS_Logic.chm" Source="../Release/res/KLS_Logic.chm" />
        <File Name="settings.ini" Source="../Release/res/settings.ini" />
      </Component>
    </DirectoryRef>
    
    <DirectoryRef Id="BitmapsFolder">
      <Component Id="Bitmaps" Guid="61e26541-a54a-42de-a0ff-1add7f2f3828">
        <File Name="blackbox.bmp" Source="../Release/res/bitmaps/blackbox.bmp" />
        <File Name="copy.bmp" Source="../Release/res/bitmaps/copy.bmp" />
        <File Name="cut.bmp" Source="../Release/res/bitmaps/cut.bmp" />
        <File Name="help.bmp" Source="../Release/res/bitmaps/help.bmp" />
        <File Name="locked.bmp" Source="../Release/res/bitmaps/locked.bmp" />
        <File Name="new.bmp" Source="../Release/res/bitmaps/new.bmp" />
        <File Name="newtab.bmp" Source="../Release/res/bitmaps/newtab.bmp" />
        <File Name="open.bmp" Source="../Release/res/bitmaps/open.bmp" />
        <File Name="paste.bmp" Source="../Release/res/bitmaps/paste.bmp" />
        <File Name="pause.bmp" Source="../Release/res/bitmaps/pause.bmp" />
        <File Name="play.bmp" Source="../Release/res/bitmaps/play.bmp" />
        <File Name="print.bmp" Source="../Release/res/bitmaps/print.bmp" />
        <File Name="redo.bmp" Source="../Release/res/bitmaps/redo.bmp" />
        <File Name="save.bmp" Source="../Release/res/bitmaps/save.bmp" />
        <File Name="step.bmp" Source="../Release/res/bitmaps/step.bmp" />
        <File Name="undo.bmp" Source="../Release/res/bitmaps/undo.bmp" />
        <File Name="zoomin.bmp" Source="../Release/res/bitmaps/zoomin.bmp" />
        <File Name="zoomout.bmp" Source="../Release/res/bitmaps/zoomout.bmp" />
      </Component>
    </DirectoryRef>

    
    
    <!--List features-->
    <Feature Id="ExecutableAndResources">
      <ComponentRef Id="Executable" />
      <ComponentRef Id="Resources" />
      <ComponentRef Id="Bitmaps" />
    </Feature>

  </Product>
  
</Wix>
